@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    overflow: auto;
}

.singing-container,
.singup-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.column {
    flex: 1;
    padding: 20px;
}

.column-1 {
    flex: 2;
    padding: 20px;
}

.singing {
    height: 100%;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 1.5rem;
    }
}

.createan-account,
.userexist {
    height: 100%;
    background-color: #f4aa00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
        text-align: center;
        font-size: 30px;
        color: #ededed;

        & span {
            color: black;
        }
    }

    & p {
        color: black;
    }

    & a {
        background: #ededed;
        text-decoration: none;
        padding: 6px 100px;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        color: black;
        margin-top: 2rem;
    }
}

.twcolumsinfo {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.column-info {
    flex: 1;
}

#username-login,
#password-login,
#username,
#first-name,
#last-name,
#phone,
#email,
#password,
#password-check {
    width: 500px;
    border-color: transparent;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1rem;
    color: black;
}

#first-name,
#last-name,
#password,
#password-check {
    width: 230px;
}

.btnsingin,
.btncreate {
    display: flex;
    justify-content: center;
}

.stayconect {
    margin-bottom: 1rem;

    & #staysign {
        accent-color: #f4aa00;
    }
}

#SingIn-btn,
#SingUp-btn {
    background-color: #f4aa00;
    border: none;
    padding: 6px 100px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 15px;
    color: white;
    font-weight: 500;
}

#SingUp-btn {
    background-color: white;
    color: black;
}

.userexist {
    background-color: #ededed;

    & h1 {
        color: black;
    }

    & p {
        color: #f4aa00;
    }

    & a {
        background: #f4aa00;
        color: #ededed;
    }
}

.createaccount-form {
    height: 100%;
    background-color: #f4aa00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
        margin-bottom: 2rem;
        color: white;
    }
}


#error404 {
    width: 400px;
    height: 400px;
}

.e404 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & a {
        /* text-decoration: none; */
        color: #f4aa00;
    }
}

#body-table {
    background-color: #ededed;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f4aa00;

    & .cerrar {
        padding: 2rem;
        display: flex;
        gap: 2rem;

        & #usernameinfo{
            color: white;
        }
    }

    & .icon {
        padding: 2rem;
    }
}

.signout {
    background: white;
    padding: 5px 10px;
    border: none !important;
    border-radius: 10px;
    cursor: pointer;
}

.table {
    padding: 4rem 3rem 5rem 5rem;
}

#userTable {
    width: 100%;
    border-collapse: collapse;
}

#userTable th,
#userTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#userTable tr:nth-child(odd) {
    background-color: #f4ab006f;
}

#userTable tr:nth-child(even) {
    background-color: white !important;
}

#userTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #f4aa00;
    color: white;
}

.alertwrongcredentials {
    border-radius: 10px !important;
}

footer{
    background-color: #ededed;
}

nav,
ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    padding: .5rem;
    color: black;
}

.selected {
    color: #f4aa00;
    font-weight: bold;
}

.Contacme {
    text-align: center;
    padding: 2rem;
    text-wrap: stable;
}
.active{
    display: block;
}

.unactive{
    display: none;
}

.contactinfo {
    display: flex;
    justify-content: center;
    gap: 2rem;
    & a{
        text-decoration: none;
    }
    & i {
        font-size: 35px;
        margin-top: 1rem;
        color: #f4aa00;
        text-shadow: 0 0 10px rgb(198, 198, 198);
    }
}

.laws {
    text-align: center;
    padding: .2rem;
}

/* Responsive */

@media only screen and (max-width: 834px) {

    .singing-container,
    .singup-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 750px) {

    .alertwrongcredentials {
        font-size: 12px !important;
        text-align: center !important;
    }

    .singing-container,
    .singup-container {
        flex-wrap: nowrap;
    }

    .singup-container {
        flex-direction: column-reverse;
    }

    #username-login,
    #password-login,
    #username,
    #first-name,
    #last-name,
    #phone,
    #email,
    #password,
    #password-check {
        width: 100%;
    }

    #first-name,
    #last-name,
    #password,
    #password-check {
        width: 100%;
    }

    .table {
        overflow: auto;
        padding: 1rem;
        max-width: 100%;
        width: 100%;
        font-size: 10px;
    }
}

@media only screen and (max-width: 420px) {

    .header {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* background: red; */
        flex-direction: column;
    
        & .cerrar {
            padding: 1rem;
            display: flex;
            gap: 2rem;
    
            & #usernameinfo{
                color: white;
            }
        }
    
        & .icon {
            padding: 1rem;
        }
    }
}